body{
    background: black;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;

    header{
        display: flex;
        justify-content: flex-end;
        margin-right: 3%;
        margin-top: 3%;
        margin-bottom: 25px;

        .button{
            border-radius: 50%;
            box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
            float:left;
            height: 65px;
            position: relative;
            width: 125px;			
            -webkit-transition: all .1s linear;
            transition: all .1s linear;
        }

        .button:after{
            color:#e9e6e4;
            content: "";
            display: block;
            font-size: 30px;
            height: 30px;
            text-decoration: none;
            text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
            position: absolute;
            width: 30px;
        }        
          
        .cart-button:after{
            content: "Cart";
            left:28px;
            top:11px;
        }          

        .button:hover{
            background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
            background-image: linear-gradient(top, #fff, #f4f1ee);
            color:#0088cc;
        }          

        .cart-button:hover:after{
            color:#83d244;
            text-shadow:0px 0px 6px #83d244;
        }   
          
        .button:active{
            background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
            background-image: linear-gradient(top, #efedec, #f7f4f4);
            box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
        }

        .button:active:after{
            color:#dbd2d2;
            text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
        }


        
    }


    .goods-list{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    
        .goods-item{
            background-color: white;
            padding: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

*{
            margin:0;
            padding:0;
            box-sizing:border-box;
            border:none;
            font-family: 'Poppins', sans-serif;
          }

          html{
              font-size:62.5%;
          }

          .all{
            width:100%;
            min-height:100vh;
            background-color: #060707;

            display:flex;
            justify-content: center;
            align-items: center;

          }   

          .all>h3{
              position:absolute;
              bottom:3%;
              left:50%;
              transform: translateX(-50%);

              color:#fefefe;
              font-size:2rem;
              font-weight:100;
              letter-spacing: 0.2rem;
          }

          .container{
            display: flex;
            justify-content: center;
            align-items: center;
            height:80vh;
            z-index:2;
           
            
          }


          button{
            width:130px;
            height:45px;
            margin:30px;

            text-transform: uppercase;
            font-style: italic;
            font-size:15px;
            font-weight: 800;
            letter-spacing: 0.1rem;
            background-color: #020303;
            color:#fefefe;
            

            cursor:pointer;
            position:relative;
            z-index:3;

          }

          button::before{
              content:'';
              position:absolute;
              width:130px;
            height:45px;
             
              top:0;
              left:0;
              
              transition: .5s linear;
              
              
              z-index: -2;
              
          }

          
          button::after{
              content:'';
              position:absolute;
              background-color: #020303;
              
              width:130px;
              height:45px;

              top:0;
              left:0;
              z-index: -1;

             
              
          }

          /* hover effect */

          button:hover::before
          {
            filter:blur(11px);
            
          }

          button:hover::after
          {
            border: 1px solid #020303;
          }

          .btn-1:hover::before
         
          {
            background:linear-gradient(45deg, #00ccff, #0e1538, #d400d4);
            transform: rotate(4deg);
          }


         

          /* media Q*/
          
          @media only screen and (max-width: 992px){
            
            .container{
              flex-direction: column;
        }
  }
  #cart{
    display: none;
    background-color:#cdcdcd;
    position: absolute;
    z-index: 4;
    right: 25px; top:135px;

    .cart_table{
      width: 100%;
      padding-top: 15px;
      border: 1px solid grey;
       
     th {
        border: 1px solid grey;
     }
     td {
        border: 1px solid grey;
     }
    } 
  } 
  
  
}

  
